<span class="sec3_txt section3_pc section3_pc1">
  <span style="position: relative;z-index: 2;">테헤란은 서비스 품질 유지를 위해 </span>
  <span style="position: relative;z-index: 2;font-weight:600;">5개 지점</span>
  <span style="position: relative;z-index: 2;">에만 집중합니다.</span>
  <div style="margin-top: 1rem;"></div>
  <span class="sec3_tit2" style="position: relative;z-index: 2;">지점 수를 늘리는데만 급급하지 않는 것,<br class="sec3_br"> </span>
  <span class="sec3_tit2" style="position: relative;z-index: 2;font-weight:600;"> 3년 연속 고객만족도대상</span>
<span class="sec3_tit2" style="position: relative;z-index: 2;">을 수상할 수 있었던 이유입니다.</span></span>

<div class="box_wrap section3_pc section3_pc2" style="margin: 2rem;">
  <div class="box_three box_1_1">
    <div class="imgwrap">
      <img src="../../../assets/img/main4_1.jpg" alt="main4_1.jpg" class="box_img2">
      <div class="slide_box" style="display: none;">
        <div class="slide_btn">
          <a href="/seoul" target="_blank" style="width: 50%;">홈페이지 &gt;</a>
          <a href="/roadmap" style="width: 50%;">약도보기 &gt;</a>
        </div>
      </div>
    </div>
    <p class="box_txt"><span class="box_txt1">서울 본사</span><span class="box_txt2">서울 강남구 테헤란로 420,<div class="br"></div>KT선릉타워West 9층</span></p>
    <div class="box_line"></div>
  </div>
  <div class="box_three box_2_2" style="margin-top: 96px;">
    <div class="imgwrap">
      <img src="../../../assets/img/main4_5.jpg" alt="main4_5.jpg" class="box_img2">
      <div class="slide_box" style="display: none;">
        <div class="slide_btn">
          <a href="/incheon" target="_blank" style="width: 50%;">홈페이지 &gt;</a>
          <a href="/roadmap" style="width: 50%;">약도보기 &gt;</a>
        </div>
      </div>
    </div>
    <p class="box_txt"><span class="box_txt1">인천 지사</span><span class="box_txt2">인천 남동구 미래로 7, <div class="br"></div>현대해상빌딩 10층</span></p>
    <div class="box_line"></div>
  </div>
  <div class="box_three box_3_3" style="margin-top: 26px;margin-right: 0;">
    <div class="imgwrap">
      <img src="../../../assets/img/main4_2.jpg" alt="main4_2.jpg" class="box_img2">
      <div class="slide_box" style="display: none;">
        <div class="slide_btn">
          <a href="/suwon" target="_blank" style="width: 50%;">홈페이지 &gt;</a>
          <a href="/roadmap" style="width: 50%;">약도보기 &gt;</a>
        </div>
      </div>
    </div>
    <p class="box_txt"><span class="box_txt1">수원 지사</span><span class="box_txt2">경기 수원시 영통구 광교중앙로 <div class="br"></div>248번길 7-7, WIN빌딩 802호</span></p>
    <div class="box_line"></div>
  </div>
</div>

<div class="box_wrap section3_pc section3_pc3">
  <div class="box_three box_1_1">
    <div class="imgwrap">
      <img src="../../../assets/img/main4_4.jpg" alt="main4_4.jpg" class="box_img2">
      <div class="slide_box" style="display: none;">
        <div class="slide_btn">
          <a href="/daejeon" target="_blank" style="width: 50%;">홈페이지 &gt;</a>
          <a href="/roadmap" style="width: 50%;">약도보기 &gt;</a>
        </div>
      </div>
    </div>
    <p class="box_txt"><span class="box_txt1">대전 지사</span><span class="box_txt2">대전 서구 둔산북로 56,<div class="br"></div>한화생명둔산사옥 11층 1101호</span></p>
  </div>
  <div class="box_three box_2_2" style="margin-right: 0;">
    <div class="imgwrap">
      <img src="../../../assets/img/main4_3.jpg" alt="main4_3.jpg" class="box_img2">
      <div class="slide_box" style="display: none;">
        <div class="slide_btn">
          <a href="/busan" target="_blank" style="width: 50%;">홈페이지 &gt;</a>
          <a href="/roadmap" style="width: 50%;">약도보기 &gt;</a>s
        </div>
      </div>
    </div>
    <p class="box_txt"><span class="box_txt1">부산 지사</span><span class="box_txt2">부산 연제구 거제대로 295,<div class="br"></div>주성산빌딩 7층</span></p>
  </div>
</div>