<ion-grid>
  <ion-row>
    <ion-col style="display: flex; justify-content: center; align-items: center; margin: 2rem;">
      <div class="main-column-heading">
        <div>
          <h3>전문가 칼럼</h3>
          <p class="sub-heading">바로 이 부분이 궁금하셨죠?</p> 
        </div>
        <a href="/board/column" class="btn-more lorean">MORE &gt;</a>
      </div>
      <a href="/board/column/view/no/4200/page_id/마약변호사" class="image"><img src="../../../assets/img/3e990a994341d5e9f96d1dda4c053c49.jpg" style="width:286px;height:191px;" alt=""></a>
      <a href="/board/column/view/no/3359/page_id/마약변호사" class="image"><img src="../../../assets/img/2ebceaae83f07f37d0c0242d5e876f49.jpg" style="width:286px;height:191px;" alt=""></a>
      <a href="/board/column/view/no/1427/page_id/" class="image"><img src="../../../assets/img/949b1f4733c3474b948867cd8974e1eb.png" style="width:286px;height:191px;" alt=""></a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="display: flex; justify-content: center; align-items: center; margin: 2rem;">
      <div class="main-column-heading">
        <div>
          <h3>소식</h3>
          <div class="sub-heading">테헤란의 역사는 <div style="padding-bottom: .2rem;"></div>고객분들과 함께 쓰여집니다.</div>
        </div>
        <a href="/board/news" class="btn-more lorean">MORE &gt;</a>
      </div>
        <a href="/board/news/view/no/757/page_id/" class="image"><img src="../../../assets/img/7ddfebc7a79ec4977e19a09dac9e9cd2.png" style="width:286px;height:191px;" alt=""></a>
        <a href="/board/news/view/no/730/page_id/" class="image"><img src="../../../assets/img/8da75f628e1c4edf2e6fc3005cab7a17.png" style="width:286px;height:191px;" alt=""></a>
        <a href="/board/news/view/no/725/page_id/" class="image"><img src="../../../assets/img/83dde0388bad6b981648d8c5ced172cb.png" style="width:286px;height:191px;" alt=""></a>
    </ion-col>
  </ion-row>
</ion-grid>