<div class="sec4_left sec4_pc">
  <div class="bunya_wrap">
    <div class="bunya"></div>
    <div class="bunya bunya_1" style="cursor: pointer;">
      <span class="bunya_tit hoverbg hovertitle" style="font-size: 42px;">법무법인 테헤란</span>
      <div class="bunya_line" style="right: 30%;"></div>
    </div>
    <div class="bunya bunya_2">
      <a href="/patent" style="text-decoration: none; color: inherit;" class="bunya_tit" target="_blank">
        <span style="font-size: 42px;" class="hovertitle">특허법인 테헤란<img src="../../../assets/img/bunya_arrow.png" alt="bunya_arrow.png" class="bunya_arrow"></span></a>
      <div class="bunya_line"></div>
    </div>
    <div class="bunya bunya_3">
      <a href="/tax" style="text-decoration: none; color: inherit;" class="bunya_tit" target="_blank">
        <span style="font-size: 42px;" class="hovertitle">세무회계 테헤란<img src="../../../assets/img/bunya_arrow.png" alt="bunya_arrow.png" class="bunya_arrow"></span></a>						
      <div class="bunya_line"></div>
    </div>
    <div class="bunya"></div>
  </div>
</div>

<!-- style="background-color: rgba(31, 28, 25, 0.6);" -->
<div class="sec4_right sec4_pc" [ngStyle]="{'background-color': getBackgroundColor()}">
  <div class="bunya_btnwrap">
    <a href="/crime" class="bunya_btn" target="_blank"><span class="bunya_txt">형사</span></a>
    <a href="/protect" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">성범죄</span></a>
    <a href="/drug" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">마약</span></a>
  </div>
  <div class="bunya_btnwrap">
    <a href="/divorce" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">이혼</span></a>
    <a href="/estate" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">상속</span></a>
    <a href="/spring" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">회생·파산</span></a>
  </div>
  <div class="bunya_btnwrap">
    <a href="/property" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">민사</span></a>
    <a href="/land" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">부동산</span></a>
    <a href="/support" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">간편소송</span></a>
  </div>
  <div class="bunya_btnwrap">
    <a href="/corp" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">법인등기</span></a>
    <a href="/iplaw" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">지식재산권 분쟁</span></a>
    <a href="/consult" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">기업법무</span></a>
  </div>
  <div class="bunya_btnwrap">
    <a href="/drive" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">음주운전</span></a>
    <a href="/accident" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">교통범죄</span></a>
    <a href="/rename" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">개명·호적</span></a>
  </div>
  <div class="bunya_btnwrap">
    <a href="/victim" class="bunya_btn" target="_blank" style="background-color: transparent;"><span class="bunya_txt" style="font-size: 22px; line-height: 22px; margin-top: -11px;">성범죄 피해자</span></a>
    <a href="/student_smile" class="bunya_btn" target="_blank"><span class="bunya_txt">학교폭력</span></a>
    <a href="/immigration" class="bunya_btn" target="_blank"><span class="bunya_txt">외국인·출입국</span></a>
  </div>
</div>