<ion-content>
  <header>
    <div id="toolbar">
      <div id="desktop-menu">
        <ion-icon name="menu-outline"></ion-icon>
      </div>

      <div id="desktop-icons">
        @for (icon of icons; track icon) {
          <a class="icon-container icon" target="{{icon.target}}" href="{{icon.href}}">
            <ion-img src="{{icon.src}}"></ion-img>
            <span class="dt_txt" style="display: none;">{{icon.txt}}</span>
          </a>
        }
        <div class="icon-container top">
          <span class="top_arrow"></span>
          <ion-text>TOP</ion-text>
        </div>
      </div>
    </div>
  </header>

  <div id="full-page">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
