body {
  overflow: hidden;
}

#content {
  vertical-align: baseline;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1;
}

header {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 66px;
  z-index: 9;
  background: #1d1d1d;

  #toolbar {
    width: 100%;
    height: 100%;
  }
}

#desktop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

#desktop-icons {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.icon-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;

  ion-img {
    height: 100%;
    width: 24px;
  }
}

.icon-container.icon:hover {
    background-color: #1d1d1d;
    padding-left: 30px;
    justify-content: start;
    width: 400px;

  ion-img {
    float: left !important;
  }

  .dt_txt {
    display: inline !important;
  }
}

.icon-container.top {
  flex-direction: column;

  ion-text {
    font-family: lorean;
    font-size: 0.9rem;
    letter-spacing: 2px;
    padding-top: 0.2rem;
  }
}

.dt_txt {
  padding-left: 10px;
  font-weight: 200;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 1.375rem;
}

.top_arrow {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 8px;
  height: 8px;
}

#full-page {
  height: 100vh;
  width: 100%;
  position: relative;
  touch-action: none;
  transform: translate3d(0px, 0px, 0px);
  transition: all 1000ms ease 0s;
}

#section0 {
  height: 100%;
  position: relative;
  touch-action: none;
  transform: translate3d(0px, 0px, 0px);
  transition: all 1000ms ease 0s;
  padding-right: 66px;
}

#fp-tableCell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.thr_logo {
  position: fixed;
  left: 50px;
  top: 35px;
  z-index: 9;
}

#fp-nav {
  margin-top: -343px;
  position: fixed;
  z-index: 100;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
}

#fp-nav.right {
  right: auto;
  left: 60px;
  bottom: 0;
  top: auto;
  height: 686px;

  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      height: 14.28%;
      display: flex;

      a {
        position: relative;
        z-index: 1;
        width: fit-content;
        height: 100%;
        cursor: pointer;
        text-decoration: none;

        span {
          display: block;
          border-radius: 0;
          height: 98px;
          width: 1px;
          border: 0;
          background: rgb(255 255 255 / 50%);
          left: auto;
          top: 0;
          right: 0;
          margin: 0;
        }
      }
    }
  }
}

.fp-tooltip {
  padding: 0.5rem 1rem;
  font-family: lorean;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  .fp-letter {
    padding-bottom: 0.5rem;
    cursor: pointer;
  }
}

.active {
  span {
    display: block;
    width: 3px !important;
    background: #fff !important;
  }
}

.active-li {
  margin-bottom: 0.5rem;
  font-weight: 0;
}

.fp-tooltip.rightactive {
  font-weight: 600;
}

.dt_menu {
  position: fixed;
  right: 21px;
  top: 35px;
  width: 24px;
  height: 22px;
  z-index: 9;
  cursor: pointer;

  span {
    display: block;
    clear: both;
    width: 100%;
    height: 2px;
    margin-bottom: 8px;
    border-radius: 30px;
    background: #fff;
    transition: 0.5s;
  }
}

#section0, #section1, #section2, #section3, #section4, #section5, #section6 {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 66px;
  padding: 0px;
}

#section1 {
  text-align: center;
  height: 100vh;
  background-color: rgb(109, 89, 71);
}

.lorean {
  display: block;
  font-size: 1.813rem;
  transition: 0.4s;
  font-family: 'lorean', 'sans-serif';
  padding-top: 10px;
}

#section2 {
  text-align: center;
  height: 100vh;
  background-color: whitesmoke;
  background-image: url(../../assets/img/sec3_bg.jpg);
  background-position: 50% 50%;
}

#section3 {
  height: 100vh;
  background-color: rgb(204, 221, 255);
  background-image: url(../../assets/img/sec4_bg.jpg);
}

#section4 {
  text-align: center;
  height: 100vh;
  background-color: rgb(72, 63, 54);
  background-image: url(../../assets/img/sec5_bg.jpg);
}

#section5 {
  text-align: center;
  height: 100vh;
  background-color: rgb(41, 37, 33);
}

#section6 {
  height: auto;
  background-color: #1b1917;
  color: #fff;

  .footer_pc {
    background-color: #3c3229;
    background-image: url(../../assets/img/ft_slogan2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 160px;
  }
}

.renew_footer {
  margin: 0 auto;
  width: 1345px;
}

.ft_up {
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer_pc2 {
  display: none;
}

#close_icon_menu {
  position: fixed;
  right: 21px;
  top: 35px;
}

#close_menu {
  font-size: 2rem;
  cursor: pointer;
}

ion-menu {
  --min-width: 360px;
}

.renew_main .lorean {
  font-family: 'lorean', 'sans-serif';
}

ion-select, ion-input {
  border-bottom: 2px solid #b9b9b9;
}

.dt_menu_mobile {
  position: fixed;
  right: 21px;
  top: 35px;
  width: 24px;
  height: 22px;
  z-index: 9;
  cursor: pointer;

  span {
    display: block;
    clear: both;
    width: 100%;
    height: 2px;
    margin-bottom: 8px;
    border-radius: 30px;
    background: #fff;
    transition: 0.5s;
  }
}

.fp-tableCell-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

@media (max-width: 768px) { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  #fp-nav {
    display: none;
  }

  #main-content {
    display: none;
  }

  #section0, #section1, #section2, #section3, #section4, #section5, #section6 {
    margin-right: 0px;
  }

  .fp-tableCell {
    height: 100%;
  }

  .thr_logo {
    left: 21px;

    a {
      img {
        max-width: 80%;
      }
    }
  }
}