<ion-menu menuId="first-menu" contentId="main-content" side="end">
  <ion-content class="ion-padding">
    <div id="close_icon_menu">
      <ion-menu-toggle>
        <ion-icon name="close-outline" id="close_menu"></ion-icon>
      </ion-menu-toggle>
    </div>

    <app-menu></app-menu>
  </ion-content>
</ion-menu>

<div id="content">
  <label class="dt_menu_mobile" (click)="openEndMenu()">
    <span></span>
    <span style="width: 18px; margin-left: 6px;"></span>
    <span></span>
  </label>
  
  <header id="main-content">
    <div id="toolbar">
        <div id="desktop-menu">
          <label class="dt_menu" (click)="openEndMenu()">
            <span></span>
            <span style="width: 18px; margin-left: 6px;"></span>
            <span></span>
          </label>
        </div>

      <div id="desktop-icons">
        @for (icon of icons; track icon) {
          <a class="icon-container icon" target="{{icon.target}}" href="{{icon.href}}">
            <ion-img src="{{icon.src}}"></ion-img>
            <span class="dt_txt" style="display: none;">{{icon.txt}}</span>
          </a>
        }
        <div class="icon-container top" (click)="scrollToSection(0)">
          <span class="top_arrow"></span>
          <ion-text>TOP</ion-text>
        </div>
      </div>
    </div>
  </header>

  <div class="thr_logo">
    <a href>
      <img src="../../assets/icon/thr_logo.png" alt="테헤란 로고">
    </a>
  </div>

  <div id="full-page">
    <div id="section0">
      <div id="fp-tableCell">
        <app-section0 style="width: 100%;"></app-section0>
      </div>
    </div>

    <div id="section1">
      <div class="fp-tableCell">
        <app-section1 [currentIndex]="currentIndex"></app-section1>
      </div>
    </div>

    <div id="section2">
      <div class="fp-tableCell-middle">
        <app-section2></app-section2>
      </div>
    </div>

    <div id="section3">
      <!-- <div class="fp-tableCell" style="height: 100%;"> -->
        <app-section3 class="fp-tableCell"></app-section3>
      <!-- </div> -->
    </div>
    
    <div id="section4">
      <app-section4 class="fp-tableCell" style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;"></app-section4>
    </div>

    <div id="section5">
      
    </div>

    <div id="section6">
      <div class="footer_pc">

      </div>

      <div class="footer renew_footer">
        <div class="ft_up footer_pc1">

        </div>

        <div class="ft_up footer_pc2">

        </div>
      </div>
    </div>
  </div>
  
  <div id="fp-nav" class="fp-show-active right" style="margin-top: -343px;">
    <ul>
      @for(item of fpNav; track item) {
        <li [ngClass]="item.class + '-li'">
          <a (click)="scrollToSection(item.index)" [ngClass]="item.class">
            <span></span>
          </a>
          <a (click)="scrollToSection(item.index)" [ngClass]="'fp-tooltip right' + item.class">
            <div class="fp-letter">
              {{item.letter}}
            </div>
            <div>
              {{item.msg}}
            </div>
          </a>
        </li>
      }
    </ul>
  </div>
</div>
