body {
  overflow: hidden;
}

#content {
  vertical-align: baseline;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1;
}

header {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 66px;
  z-index: 9;
  background: #1d1d1d;

  #toolbar {
    width: 100%;
    height: 100%;
  }
}

#desktop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

#desktop-icons {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.icon-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;

  ion-img {
    height: 100%;
    width: 24px;
  }
}

.icon-container.icon:hover {
    background-color: #1d1d1d;
    padding-left: 30px;
    justify-content: start;
    width: 400px;

  ion-img {
    float: left !important;
  }

  .dt_txt {
    display: inline !important;
  }
}

.icon-container.top {
  flex-direction: column;

  ion-text {
    font-family: lorean;
    font-size: 0.9rem;
    letter-spacing: 2px;
    padding-top: 0.2rem;
  }
}

.dt_txt {
  padding-left: 10px;
  font-weight: 200;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 1.375rem;
}

.top_arrow {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 8px;
  height: 8px;
}

#full-page {
  height: 100vh;
  width: 100%;
  position: relative;
  touch-action: none;
  transform: translate3d(0px, 0px, 0px);
  transition: all 1000ms ease 0s;
}

#section0 {
  height: 100%;
  position: relative;
  touch-action: none;
  transform: translate3d(0px, 0px, 0px);
  transition: all 1000ms ease 0s;
  padding-right: 66px;
}

.video1 {
  opacity: 0.3;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  right: -100%;
  bottom: -100%;
  top: -100%;
  left: -100%;
  object-fit: cover;
  z-index: 5;
}

#fp-tableCell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main_ment {
  text-align: center;
  position: relative;
  z-index: 7;
  font-size: 2.15rem;
  font-weight: 300;
  color: #fff;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thr_logo {
  position: fixed;
  left: 50px;
  top: 35px;
  z-index: 9;
}

#fp-nav {
  margin-top: -343px;
  position: fixed;
  z-index: 100;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
}

#fp-nav.right {
  right: auto;
  left: 60px;
  bottom: 0;
  top: auto;
  height: 686px;

  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      height: 14.28%;
      display: flex;

      a {
        position: relative;
        z-index: 1;
        width: fit-content;
        height: 100%;
        cursor: pointer;
        text-decoration: none;

        span {
          display: block;
          border-radius: 0;
          height: 98px;
          width: 1px;
          border: 0;
          background: rgb(255 255 255 / 50%);
          left: auto;
          top: 0;
          right: 0;
          margin: 0;
        }
      }
    }
  }
}

.fp-tooltip {
  padding: 0.5rem 1rem;
  font-family: lorean;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  .fp-letter {
    padding-bottom: 0.5rem;
    cursor: pointer;
  }
}

.active {
  span {
    display: block;
    width: 3px !important;
    background: #fff !important;
  }
}

.active-li {
  margin-bottom: 0.5rem;
  font-weight: 0;
}

.fp-tooltip.rightactive {
  font-weight: 600;
}

.arrow {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
  z-index: 8;
}

.arrow .arrow_span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 15px;
  height: 15px;
  margin-left: -7.5px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg) !important;
  animation: sdb 2s infinite;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  cursor: pointer;
}

@keyframes sdb {
  0% {
      opacity: 0;
      top: 0;
  }
  100% {
      opacity: 1;
      top: 20px;
  }
}

.arrow .arrow_txt {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -27px;
  font-family: lorean;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  cursor: pointer;
}

.dt_menu {
  position: fixed;
  right: 21px;
  top: 35px;
  width: 24px;
  height: 22px;
  z-index: 9;
  cursor: pointer;

  span {
    display: block;
    clear: both;
    width: 100%;
    height: 2px;
    margin-bottom: 8px;
    border-radius: 30px;
    background: #fff;
    transition: 0.5s;
  }
}

#section0, #section1, #section2, #section3, #section4, #section5, #section6 {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 66px;
  padding: 0px;
}

#section1 {
  text-align: center;
  height: 100vh;
  background-color: rgb(109, 89, 71);
}

.sec2_more {
  position: absolute;
  bottom: 125px;
  right: 188px;
  z-index: 8;
  text-align: left;
  color: inherit;
  text-decoration: none;
}

.sec2_more_arrow {
  display: block;
  width: 18px;
  height: 18px;
  transform: rotate(225deg);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.lorean {
  display: block;
  font-size: 1.813rem;
  transition: 0.4s;
  font-family: 'lorean', 'sans-serif';
  padding-top: 10px;
}

.lorean.more:hover {
  padding-top: 13px;
  margin-top: -6px;
  font-size: 2rem;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.professional {
  position: absolute;
  display: block;
  left: -36px;
  top: 25%;
  color: #66533f;
  font-family: lorean;
  font-size: 20.9vw;
  z-index: 2;
  text-align: left;
  letter-spacing: -4px;
}

.professional2 {
  font-style: italic;
  color: #66533f;
  font-family: lorean;
  font-size: 20.9;
  letter-spacing: -4px;
}

.swiper-container {
  z-index: 3;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.pro_bg {
  position: relative;
  top: 50px;
  margin-left: 24%;
}

.profile {
  position: absolute;
  top: 50%;
  left: 23%;
  z-index: 7;
  text-align: left;
  margin-left: -66px;
}

.main_ment2 {
  font-size: 34px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}

.mark_img {
  float: left;
  margin-top: -2px;
  margin-right: 10px;
}

.mark_img2 {
  margin-top: 5px;
  margin-right: 10px;
}

.pro_up_span {
  font-size: 30px;
  font-weight: 200;
  color: #fff;
}

#section2 {
  text-align: center;
  height: 100vh;
  background-color: whitesmoke;
  background-image: url(../../assets/img/sec3_bg.jpg);
  background-position: 50% 50%;
}

#section3 {
  height: 100vh;
  background-color: rgb(204, 221, 255);
  background-image: url(../../assets/img/sec4_bg.jpg);
}

#section4 {
  text-align: center;
  height: 100vh;
  background-color: rgb(72, 63, 54);
  background-image: url(../../assets/img/sec5_bg.jpg);
}

#section5 {
  text-align: center;
  height: 100vh;
  background-color: rgb(41, 37, 33);
}

#section6 {
  height: auto;
  background-color: #1b1917;
  color: #fff;

  .footer_pc {
    background-color: #3c3229;
    background-image: url(../../assets/img/ft_slogan2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 160px;
  }
}

.renew_footer {
  margin: 0 auto;
  width: 1345px;
}

.ft_up {
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer_pc2 {
  display: none;
}

#close_icon_menu {
  position: fixed;
  right: 21px;
  top: 35px;
}

#close_menu {
  font-size: 2rem;
  cursor: pointer;
}

ion-menu {
  --min-width: 360px;
}

.dt_gnb_inner {
  padding: 43px 53px 30px;
}

.dt_gnb_tit {
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.dt_gnb_tit2 {
  margin-top: 40px;
}

.tit_kor {
  font-size: 1.3rem;
  font-weight: 600;
}

.tit_eng {
  font-size: .7rem;
  padding-left: 10px;
  display: inherit;
}

.renew_main .lorean {
  font-family: 'lorean', 'sans-serif';
}

.dt_gnb_list {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.dt_gnb_list a {
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
  margin-bottom: 10px;
  color: inherit;
  text-decoration: none;
}

.dt_gnb_list a:hover {  
  font-weight: bold;
}

.dt_gnb_line {
  height: 1px;
  margin-left: 18px;
  background-color: #545351;
}

.dt_gnb_tel {
  padding: 36px 53px;
}

.tit_kor2 {
  padding-left: 6px;
}

.junbun {
  padding-left: 6px;
  font-size: 18px;
}

/* Estilo para ion-select enfocado */
ion-select, ion-input {
  border-bottom: 2px solid #b9b9b9; /* Cambia el color del borde según tus preferencias */
}

.agree_input {
  margin-top: 0.5rem;
  font-size: .7rem;
}

.consulting_area .btn-gold span {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.bottom_form_check {
  --border-radius: 0px;
  --color: black;
  --background: white;
  width: 100%;
  margin-top: 1.5rem;
}

.dt_gnb_board, .dt_gnb_visit {
  display: flex;
  justify-content: start;
  align-items: center;

  a {
    display: flex;
    justify-content: start;
    align-items: center;
    color: inherit;
    text-decoration: none;
    margin: 1.5rem 0rem 1.5rem 3.5rem;

    span {
      margin-left: 0.5rem;
    }
  }
}

.dt_gnb_visit>a>img {
  width: 24px;
}

.dt_gnb_board>a>img {
  width: 23px;
}

.dt_gnb_board>a>.tit_kor, .dt_gnb_visit>a>.tit_kor {
  font-size: 23px;
}

.dt_menu_mobile {
  position: fixed;
  right: 21px;
  top: 35px;
  width: 24px;
  height: 22px;
  z-index: 9;
  cursor: pointer;

  span {
    display: block;
    clear: both;
    width: 100%;
    height: 2px;
    margin-bottom: 8px;
    border-radius: 30px;
    background: #fff;
    transition: 0.5s;
  }
}

#dt_gnb_visit_mobile {
  display: none;
}

.mo_icon_wrap {
  display: none;
}

@media (max-width: 768px) { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  #fp-nav {
    display: none;
  }

  #main-content {
    display: none;
  }

  #section0, #section1, #section2, #section3, #section4, #section5, #section6 {
    margin-right: 0px;
  }

  #dt_gnb_visit_mobile {
    display: block;
    padding-left: .5rem;
  }

  #dt_gnb_visit_mobile_icon6  {
    padding-right: .5rem;
  }

  .dt_gnb_visit {
    display: none;
  }

  .dt_gnb_board {
    margin: 1rem 0rem;
  }

  .dt_gnb_board>a>img {
    width: 20px;
  }
  
  .dt_gnb_board>a>.tit_kor, .dt_gnb_visit>a>.tit_kor {
    font-size: 20px;
  }

  .dt_gnb_board, .dt_gnb_visit {
    justify-content: center;
  
    a {
      margin: 0rem;
    }
  }

  .mo_icon_wrap {
    display: block;
    padding: 25px 53px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sec2_more {
    bottom: 39px;
    right: 52px;
  }

  .professional {
    left: -316px;
    font-size: 43.8vw;
    top: 332px;
    transform: rotate(90deg);
  }

  .fp-tableCell {
    height: 100%;
  }

  .swiper-wrapper {
    height: 100%;
  }

  .pro_bg {
    position: relative;
    top: 96px;
    margin-left: 8%;
    min-width: 32rem;
    height: 100%;
  }

  .thr_logo {
    left: 21px;

    a {
      img {
        max-width: 80%;
      }
    }
  }

  .main_ment {
    font-size: 23px;
  }

  .main_ment2 {
    font-size: 23px;
  }

  .pro_up_span {
    font-size: 23px;
  }
}